@import "reset.less";
@import "lesshat.less";
@black: #1a1a1a;
@grey: #676767;
@lightBlue: #00f0ff;
*, *:before, *:after {
  font-family:"Maison Neue Book", Helvetica, Arial, Sans-Serif, sans-serif; font-weight:300; font-style:normal;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
a{
  .transition(.3);
  border:none;
  color:black;
  text-decoration:none;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
body{
  font-family:"Maison Neue Book", Helvetica, Arial, Sans-Serif, sans-serif; font-weight:300; font-style:normal;
  overflow: hidden;
}
.left{
  padding:50px 0;
  position:absolute;
  left:0;
  top:0;
  width:50%;
  height:100%;
  background:@black;
  color:white;
  z-index:10;
  .nav{
    background:#2b2b2b;
    position: relative;
    height: 140px;
    -webkit-transition:height linear .3s;
    transition:height linear .3s;
    overflow: hidden;
    padding-left:50px;
    li{
      float:left;
      list-style: none;
      width:25%;
      padding-top:30px;
      a{
        color:@grey;
        text-decoration:none;
      }
      a:hover,.active{
        color:white;
        border-bottom:1px solid @lightBlue;
      }

    }
  }
  .bor{
    width:100%;
    height:30px;
  }
  .nav.ng-hide {
    height: 0;
  }
  .nav.ng-hide-add, .nav.ng-hide-remove {
    display:block!important;
  }
  .si-icon-hamburger-cross{
    margin-left:50px;
    cursor:pointer;
  }

  h1{
    color:@lightBlue;
    font-size:30px;
    padding:0 50px;
    margin-top:50px;
    font-family: "Audree Audree L1 2";
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
  }
  p{
    margin-top:30px;
    font-size:20px;
    padding:0 50px;
  }
  .social{
    list-style: none;
    padding:0;
    position:absolute;
    bottom:25px;
    left:50px;
    a{
      color:@grey;
      text-decoration:none;
    }
    a:hover{
      color:white;
      border-bottom:1px solid @lightBlue;
    }
  }
}
.mainPage{
  position:absolute;
  width: 100%;
  height: 100%;
}
.bck1{
  background:url("../img/WEB-01.png") no-repeat;
  background-position: center center;
  .background-size(auto 85%);
}
.bck2{
  background:url("../img/WEB-02.png") no-repeat;
  background-position: center center;
  .background-size(auto 85%);
}
.bck3{
  background:url("../img/WEB-03.png") no-repeat;
  background-position: center center;
  .background-size(auto 85%);
}
.bck4{
  background:url("../img/WEB-04.png") no-repeat;
  background-position: center center;
  .background-size(auto 85%);
}
.bck5{
  background:url("../img/WEB-05.png") no-repeat;
  background-position: center center;
  .background-size(auto 85%);
}
.right{
  position:absolute;
  left:50%;
  top:0;
  width:50%;
  height:100%;
  .mobileMain{
    display:none;
  }
  a{
    display:block;
    float:left;
  }
  .predavaci{
    padding:50px;
    margin:0;
    list-style:none;
    height:100%;
    overflow-y:scroll;
    .profile{
      position:relative;
      width:47%;
      margin-right:5%;
      float:left;
      a{
        width:100%;
      }
      .img{
        position:relative;
        line-height: 0;
        .hover{
          opacity:0;
          position:absolute;
          width: 100%;
          height: 100%;
          left:-10px;
          top:-10px;
          background:url("../img/gostiHover.png");
          .background-size(cover);
          .transition(.4);
        }
        img{
          width:100%;
          height: auto;
        }
      }
      h2{
        margin:20px 0 25px;
        padding-right:20px;
        font-size:20px;
        background:url("../img/plus.png") no-repeat;
        background-position:right top;
        font-family: "Audree Audree L1 2";
        font-style: normal;
        font-weight: normal;
        font-stretch: normal;
      }
    }
    .profile:hover{
      .img{
        .hover{
          opacity:1;
        }
      }
      h2{
        opacity:.6;
      }
    }
    .profile:nth-child(even){
      margin:0;
    }
  }
}
.gostSingle{
  position:absolute;
  height:100%;
  overflow-y:scroll;
  .bck{
    position:relative;
    display:block;
    width: 100px;
    height:100px;
    background:@lightBlue;
    cursor:pointer;
    .img{
      width:100%;
      height:100%;
      background: url("../img/bck.png") no-repeat;
      background-position:center center;
    }
  }
  .bck:hover{
    opacity:.6;
  }
  .sep{
    float:left;
    width:100%;
    height:1px;
  }
  .img{
    margin-top:-1px;
    float:left;
    position:relative;
    width:100%;
    .imgFor{
     position:absolute;
      width:100%;
      height:100%;
      background:url("../img/predavaci.png") no-repeat;
      background-position: center center;
      .background-size(auto 80%);
    }
    img{
      width: 100%;
    }
  }
  .small{
    font-size:12px;
    color:@grey;
    text-transform:uppercase;
    margin-bottom:10px;
    margin-top:20px;
  }
  .gost{
    float:left;
    width:100%;
    padding:0 50px 40px;
    h2{
      margin:50px 0 0;
      font-size:20px;
      padding-bottom:20px;
      border-bottom:2px solid @lightBlue;
      font-family: "Audree Audree L1 2";
      font-style: normal;
      font-weight: normal;
      font-stretch: normal;
    }
    a{
      float:left;
      display:block;
      width:100%;
      font-size:14px;
    }
  }
  .pred{
    float:left;
    width:100%;
    padding:20px 50px 50px;
    background:#2b2b2b;
    color:white;
    h2{
      font-size:20px;
      color:@lightBlue;
      font-family: "Audree Audree L1 2";
      font-style: normal;
      font-weight: normal;
      font-stretch: normal;
    }
    .date{
      display:block;
      width:100%;
      border-bottom:2px solid @lightBlue;
      padding-bottom:20px;
      margin-bottom:20px;
    }
  }
}
.program{
  position:absolute;
  height:100%;
  width:100%;
  a:nth-child(1){
    background:#e4e4e4;
  }
  a:nth-child(2){
    background:#ececec;
  }
  a:nth-child(3){
    background:#f5f5f5;
  }
  a{
    width:100%;
    position:relative;
    height:33%;
  }
  ul{
    position:relative;
    list-style:none;
    height:100%;
    li{
      padding-top:20%;
      padding-left:50px;
      position:relative;
      height:33%;
      float:left;
      width:100%;
      .sep{
        width:100%;
        height:1px;
        float:left;
      }
      p{
        text-transform:uppercase;
        font-weight:bold;
      }
      h3{
        float:left;
        font-size:30px;
        padding-bottom:5px;
        border-bottom:2px solid @lightBlue;
        font-family: "Audree Audree L1 2";
        font-style: normal;
        font-weight: normal;
        font-stretch: normal;
      }
    }
  }
}
.progSing{
  background:#2b2b2b;
  color:white;
  position:absolute;
  width:100%;
  height:100%;
  overflow-y: scroll;
  .fullWidth{
    width: 100%;
    height:100px;
    background: white;
  }
  .bck{
    position:relative;
    display:block;
    width: 100px;
    height:100px;
    background:@lightBlue;
    padding:0;
    .img{
      width:100%;
      height:100%;
      background: url("../img/bck.png") no-repeat;
      background-position:center center;
      cursor:pointer;
    }
  }
  .bck:hover{
    opacity:.6;
  }
  ul{
    padding:0 50px;
  }
  a{
    display:block;
    float:left;
    width:100%;
    color:white;
    border-bottom:2px solid @lightBlue;
    padding:20px 0;
    li{
      list-style:none;
      p{
        text-transform:uppercase;
        color:@grey;
        padding-bottom:5px;

      }
      h2{
        color:@lightBlue;
        font-size:24px;
        font-family: "Audree Audree L1 2";
        font-style: normal;
        font-weight: normal;
        font-stretch: normal;
      }
      span{
        margin:0 5px;
        color:@grey;
      }
    }
  }
  a:hover{
    opacity:.6;
  }
  a:last-child{
    border:none;
  }
}
.gallery{
  position:absolute;
  height:100%;
  overflow-y: scroll;
  padding:50px;
  li{
    position:relative;
    width:30%;
    margin-right:5%;
    margin-bottom:5%;
    float:left;
    list-style:none;
    .img{
      position:relative;
      line-height: 0px;
      .hover{
        opacity:0;
        position:absolute;
        width: 100%;
        height: 100%;
        background:url("../img/gostiHover.png");
        .background-size(cover);
        .transition(.4);
        top:-10px;
        left:-10px;
        h2{
          font-size:16px;
          font-weight:normal;
          color:white;
          position:absolute;
          bottom:10px;
          right:5px;
        }
      }
      img{
        width:100%;
        height: auto;
      }
    }
  }
  li:nth-child(3n){
    margin-right:0;
  }
  li:hover{
    .hover{
      opacity:1;
    }
  }
}
.lokacija{
  position:absolute;
  width:100%;
  height:100%;
  overflow-y:scroll;
  .mapa{
    width:100%;
    height:70%;
  }
  .lokacije{
    background:#2b2b2b;
    ul{
      padding:0 50px 50px;
    }
    a{
      display:block;
      float:left;
      width:100%;
      color:white;
      border-bottom:2px solid @lightBlue;
      padding:20px 0;
      li{
        list-style:none;
        p{
          text-transform:uppercase;
          color:@grey;
          padding-bottom:5px;
        }
        h2{
          color:@lightBlue;
          font-size:24px;
          font-family: "Audree Audree L1 2";
          font-style: normal;
          font-weight: normal;
          font-stretch: normal;
        }
      }
    }
  }
}
.kontakt{
  position:absolute;
  height:100%;
  width: 100%;
  overflow-y:scroll;
  padding-bottom:50px;
  img{
    width:100%;
  }
  h2{
    font-size:30px;
    margin:50px 50px 0 50px;
    border-bottom: 2px solid @lightBlue;
    font-family: "Audree Audree L1 2";
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
  }
  p{
    padding:0 50px;

  }
  .small{
    margin-top:30px;
    font-size:12px;
    color:#676767;
  }
}
.onama{
  position:absolute;
  height:100%;
  width: 100%;
  overflow-y:scroll;
  div{
    float:left;
  }
  .sur{
    .small{
      margin:0;
    }
    .small.last{
      margin-top:20px;
    }
    p{
      width:100%;
      float:left;
      margin:0;
    }
  }
  .black{
    width:100%;
    padding:50px 0;
    background:#2b2b2b;
    color:white;
    a{
      display:inline;
      float:none;
      color:white;
    }
    a:hover{
      color:@lightBlue;
    }
  }
  .white{
    width:100%;
    padding:50px 0;
  }
  img{
    width:100%;
  }
  h2{
    font-size:30px;
    margin:50px 50px 30px 50px;
    border-bottom: 2px solid @lightBlue;
    font-family: "Audree Audree L1 2";
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
  }
  p{
    padding:0 50px;
    margin:0 0 20px;
  }
  .small{
    margin:0;
    font-size:12px;
    color:#676767;
    text-transform:uppercase;
  }
  img{
    float:left;
    width:100%;
    margin:0;
    padding:0;
  }
}
.partneri{
  position:absolute;
  height:100%;
  width: 100%;
  padding:50px;
  overflow-y:scroll;
  h2{
    font-size: 30px;
    margin: 0 0 20px 0;
    border-bottom: 2px solid #00f0ff;
    font-family: "Audree Audree L1 2";
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    padding-bottom:10px;
  }
  ul{
    list-style:none;
    li{
      float:left;
      width:50%;
      .img {
        position: relative;
        line-height: 0px;
        .hover {
          opacity: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          background:rgba(0,0,0,0.1);
          .background-size(cover);
          .transition(.4);
          h2 {
            font-size: 16px;
            font-weight: normal;
            color: white;
            position: absolute;
            bottom: 10px;
            right: 5px;
          }
        }
        img {
          width: 100%;
        }
      }
    }
    a:hover{
      .hover{
        opacity:1;
      }

    }
  }
}
div[ng-view].ng-leave        {
  -webkit-animation:slideOutLeft 0.7s both cubic-bezier(0.610, 0.120, 0.395, 0.900);
  -moz-animation:slideOutLeft 0.7s both cubic-bezier(0.610, 0.120, 0.395, 0.900);
  animation:slideOutLeft 0.7s both cubic-bezier(0.610, 0.120, 0.395, 0.900);
}
div[ng-view].ng-enter 		{
  -webkit-animation:slideInRight 0.7s both cubic-bezier(0.610, 0.120, 0.395, 0.900);
  -moz-animation:slideInRight 0.7s both cubic-bezier(0.610, 0.120, 0.395, 0.900);
  animation:slideInRight 0.7s both cubic-bezier(0.610, 0.120, 0.395, 0.900);
}

/* slide in from the right */
@keyframes slideInRight {
  from 	{ transform:translateX(100%); }
  to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
  from 	{ -moz-transform:translateX(100%); }
  to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
  from 	{ -webkit-transform:translateX(100%); }
  to 		{ -webkit-transform: translateX(0); }
}
/* slide in from the right */
@keyframes slideInLeft {
  from 	{ transform:translateX(-100%); }
  to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInLeft {
  from 	{ -moz-transform:translateX(-100%); }
  to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInLeft {
  from 	{ -webkit-transform:translateX(-100%); }
  to 		{ -webkit-transform: translateX(0); }
}
/* slide in from the right */
@keyframes slideOutRight {
  from 	{ transform:translateX(0); }
  to 		{ transform: translateX(100%); }
}
@-moz-keyframes slideOutRight {
  from 	{ -moz-transform:translateX(0); }
  to 		{ -moz-transform: translateX(100%); }
}
@-webkit-keyframes slideOutRight {
  from 	{ -webkit-transform:translateX(0); }
  to 		{ -webkit-transform: translateX(100%); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
  to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {
  to 		{ -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
  to 		{ -webkit-transform: translateX(-100%); }
}
@media all and (max-width: 699px){
  body{
    overflow-y:auto;
  }
  .right .mobileMain{
    display:block;
    h1{
      color:@lightBlue;
      font-size:30px;
      padding:0 30px;
      margin-top:30px;
      font-family: "Audree Audree L1 2";
      font-style: normal;
      font-weight: normal;
      font-stretch: normal;
    }
    p{
      margin-top:30px;
      font-size:20px;
      padding:0 30px;
    }
    .social{
      margin-top:30px;
      padding:0 30px;
      list-style: none;
      position:relative;
      li{
        float:left;
        width:100%;
      }
      a{
        color:@grey;
        text-decoration:none;
      }
      a:hover{
        color:@lightBlue;
        border-bottom:1px solid @lightBlue;
      }
    }
  }
  .left{
    display:none;
  }
  .right{
    position:absolute;
    width:100%;
    left:0;
    margin-top:60px;
    height:auto;
    overflow: visible;

  }
  .mobileNav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:100;
    background:#2b2b2b;
    .bck{
      z-index:101;
      cursor:pointer;
      position:absolute;
      display:block;
      width: 60px;
      height:60px;
      background:@lightBlue;
      left:0;
      top:0;
      cursor:pointer;
      .img{
        width:100%;
        height:100%;
        background: url("../img/bck.png") no-repeat;
        background-position:center center;
      }
    }
    .nav{
      position:relative;
      height:150px;
      overflow: hidden;
      -webkit-transition:height linear .2s;
      transition:height linear .2s;
      overflow: hidden;
    }
    .nav.ng-hide {
      height: 0;
    }
    .nav.ng-hide-add, .nav.ng-hide-remove {
      display:block!important;
    }
    .icon{
      position:relative;
      float:left;
      width:100%;
      .hambi{
        margin-top:21px;
        float:right;
        width:40px;
        height:30px;
        background: url("../img/ikona.png") no-repeat;
        background-size:100% auto;
      }
      .hambi.active{
        background-position: 0 -35px;
      }
      h2{
        float:left;
        width: 100%;
        text-align: center;
        font-size: 20px;
        line-height:60px;
        margin:0px;
        font-family: "Audree Audree L1 2";
        font-style: normal;
        font-weight: normal;
        font-stretch: normal;
      }
      span{
        position:absolute;
        right:10px;
        top:-5px;
      }
    }
    ul{
      width:100%;
      float:left;
      list-style:none;
      padding-left:50px;
      padding-top:20px;
      li{
        width:33%;
        float:left;
        margin-bottom:20px;
      }
      a{
        color:white;
      }
      a:hover{
        color:@lightBlue;
      }
    }
  }
  .right .predavaci{
    overflow-y: visible;
    padding:30px;
    .profile{
      width:100%;
      a{
        width:100%;
      }
    }
  }
  .right .gostSingle{
    position:relative;
    height:auto;
    overflow: visible;
    .bck{
      display:none;
    }
    .gost{
      padding:0 30px 40px;
      h2{
        margin-top:30px;
      }
    }
    .pred{
      padding:20px 30px 50px;
    }
  }
  .right .program{
    position:relative;
    ul{
      li{
        padding:50px 30px;
      }
    }
  }
  .right .progSing{
    position:relative;
    overflow:visible;
    .fullWidth{
      display:none;
    }
  }
  .right .gallery{
    position:relative;
    overflow:visible;
    padding:0px 30px;

    ul{
      li{
        width:45%;
        margin:10% 10% 0 0;
      }
      li:nth-child(2n){
        margin:10% 0 0 0;
      }
    }
  }
  .right .kontakt{
    position:relative;
    padding:0 30px;
    overflow:visible;
    h2{
      margin:30px 0 0 0;
    }
    p{
      padding:0;
    }
  }
  .right .partneri{
    position:relative;
    overflow: visible;
    padding:30px;
  }
  .right .lokacija{
    position:relative;
    overflow: visible;
    .mapa{
      height:300px;
    }
    .lokacije ul{
      padding:0 30px;
    }
  }
  .right .onama{
    position:relative;
    overflow:visible;
    h2{
      padding:0;
      margin:0 30px 30px;
    }
    p{
      padding:0 30px;
    }
    .white{
      padding:30px 0;
    }
    .black{
      padding:30px 0;
    }
  }
  .right .mainPage{
    display:none;
    position:relative;
      height:300px;
  }
  .progSing ul {
    padding: 0 25px;
  }
  .mobileNav{
    h2{
      color:white;
      font-size:30px;
      float:right;
      color:white;
    }
    ul{
      width:100%;
      padding-left:25px;
    }
  }
}
