<!DOCTYPE html>
<!--
MNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN.
MNM                                         NN.
MNN                                         NN.
MNN                                         NNNNNNM
MNN                                         NN..NNM
MNN                                         NN. NNM
MNN                                         NN. NNM
MNN                                         NN. NNM
MNN                                         NN. NNM
MNN             NN.   $NM    NNN            NN. NNM
MNN             NN.   $NM    NNN            NN. NNM
MNN             NN.          NNN            NN. NNM
MNN             NN.   $NN    NNN            NN. NNM
MNN             NN.   . .    NNN            NN. NNM
MNN             NN.          NNN            NN. NNM
MNN             NN.   $NN    NNN            NN. NNM
MNN             NN.          NNN            NN. NNM
MNN             NN.          NNN            NN. NNM
MNN             NN.          NNN            NN. NNM
MNN             NN.          NNN            NN. NNM
MNN             NN.          NNN            NN. NNM
MNN                                         NN. NNM
MNN                                         NN. NNM
MNN                                         NN. NNM
MNN                                         NN. NNM
MNN                                         NN. NNM
MNN                                         NN. NNM
MNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN. NNM
NN.                                        NNM
NN.                                        NNM
MNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNM
-->
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
      <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png">
      <link rel="icon" type="image/png" href="/favicons/favicon-196x196.png" sizes="196x196">
      <link rel="icon" type="image/png" href="/favicons/favicon-160x160.png" sizes="160x160">
      <link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96">
      <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
      <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png">
    <title>Mop festival multimedije</title>
    <link href="css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="http://fonts.typonine.com/WF-003562-001104.css" type="text/css" />
    <link rel="stylesheet" href="//f.fontdeck.com/s/css/t4H3X77U8eTSJKGM5rxvpQRV3hk/http://localhost:9000/45519.css" type="text/css" />
  </head>
  <body ng-app="mop" ng-controller="MainCtrl" ng-cloak>
      <div class="mobileNav">
          <a ng-if="page.bck" class="bck" ng-click="mobileBck()">
              <div class="img"></div>
          </a>
          <div class="icon">
              <h2>{{page.title}}</h2>
              <span class="hambi" ng-click="showMenu('mobile')" ng-class="{active: mobileNav}"></span>
          </div>
          <ul class="nav" ng-show="mobileNav">
              <li ng-repeat="item in navigation"  ng-click="select($index)">
                  <a scrollup ng-click="showMenu('mobile')" href="{{item.path}}" ng-class="{active: $index == selected}">{{item.name}}</a>
              </li>
          </ul>
      </div>
    <div class="left">
        <span class="si-icon si-icon-reverse si-icon-hamburger-cross" data-icon-name="hamburgerCross" ng-click="showMenu()"></span>
        <div class="bor"></div>
        <ul class="nav" ng-show="showNav">
            <li ng-repeat="item in navigation"  ng-click="select($index)">
                <a href="{{item.path}}" ng-class="{active: $index == selected}">{{item.name}}</a>
            </li>
        </ul>
        <h1>MOP 3<br/> festival multimedije<br/> 22.05 — 24.05.2014.</h1>
        <p>Festival multimedije, oblikovanja i primjene s ciljem razmjene znanja i povećanja potencijala multimedijalne zajednice. Generalni pokrovitelji festivala su Sveučilište Sjever i Studentski zbor Sveučilišta Sjever.</p>
        <ul class="social">
            <li>
                <a href="https://twitter.com/MOPFest" target="_blank">Twitter</a>
            </li>
            <li>
                <a href="https://www.facebook.com/MOPfest" target="_blank">Facebook</a>
            </li>
            <li>
                <a href="http://instagram.com/mopfest" target="_blank">Instagram</a>
            </li>
        </ul>
    </div>
    <div class="right" ng-view="">

    </div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-31219245-6', 'mop-fest.com');
        ga('send', 'pageview');

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script src="lib.js"></script>
    <script src="templates.js"></script>
    <script src="app.js"></script>
  </body>
</html>
