<!DOCTYPE html>
<html>
  <head>
      <!--
      MNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN.
      MNM                                         NN.
      MNN                                         NN.
      MNN                                         NNNNNNM
      MNN                                         NN..NNM
      MNN                                         NN. NNM
      MNN                                         NN. NNM
      MNN                                         NN. NNM
      MNN                                         NN. NNM
      MNN             NN.   $NM    NNN            NN. NNM
      MNN             NN.   $NM    NNN            NN. NNM
      MNN             NN.          NNN            NN. NNM
      MNN             NN.   $NN    NNN            NN. NNM
      MNN             NN.   . .    NNN            NN. NNM
      MNN             NN.          NNN            NN. NNM
      MNN             NN.   $NN    NNN            NN. NNM
      MNN             NN.          NNN            NN. NNM
      MNN             NN.          NNN            NN. NNM
      MNN             NN.          NNN            NN. NNM
      MNN             NN.          NNN            NN. NNM
      MNN             NN.          NNN            NN. NNM
      MNN                                         NN. NNM
      MNN                                         NN. NNM
      MNN                                         NN. NNM
      MNN                                         NN. NNM
      MNN                                         NN. NNM
      MNN                                         NN. NNM
      MNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN. NNM
      NN.                                        NNM
      NN.                                        NNM
      MNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNM
      -->
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
      <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png">
      <link rel="icon" type="image/png" href="/favicons/favicon-196x196.png" sizes="196x196">
      <link rel="icon" type="image/png" href="/favicons/favicon-160x160.png" sizes="160x160">
      <link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96">
      <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
      <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png">
    <title>Mop festival multimedije</title>
    <link href="css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="http://fonts.typonine.com/WF-003562-001104.css" type="text/css" />
    <link rel="stylesheet" href="//f.fontdeck.com/s/css/t4H3X77U8eTSJKGM5rxvpQRV3hk/http://localhost:9000/45519.css" type="text/css" />
  </head>
  <body ng-app="mop" ng-controller="MainCtrl">
    <div class="left">
        <span click class="si-icon si-icon-hamburger-cross" data-icon-name="hamburgerCross" ng-click="showMenu()"></span>
        <div class="bor"></div>
        <ul class="nav" ng-show="showNav">
            <li ng-repeat="item in navigation"  ng-click="select($index)">
                <a href="{{item.path}}" ng-class="{active: $index == selected}">{{item.name}}</a>
            </li>
        </ul>
        <h1>MOP 3<br/> festival multimedije<br/> 22.05 - 24.05.2014</h1>
        <p>Festivala multimedije, oblikovanja i primjene s ciljem razmijene znanja i povećanja potencijala multimedijalne zajednice. Generalni pokrovitelji festivala su Sveučilište Sjever i Studentski zbor Sveučilišta Sjever.</p>
        <ul class="social">
            <li>
                <a href="https://twitter.com/MOPFest" target="_blank">Twitter</a>
            </li>
            <li>
                <a href="https://www.facebook.com/MOPfest" target="_blank">Facebook</a>
            </li>
            <li>
                <a href="http://instagram.com/mopfest" target="_blank">Instagram</a>
            </li>
        </ul>
    </div>
    <div class="right {{ pageClass }} group" ng-view="">

    </div>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script src="lib.js"></script>
    <script src="templates.js"></script>
    <script src="app.js"></script>
  </body>
</html>
