<div class="gostSingle">
    <a class="bck" ng-click="bck()">
        <div class="img"></div>
    </a>
    <div class="sep"></div>
    <div class="img">
        <div class="imgFor"></div>
        <img src="{{gost.bigImg}}" alt=""/>
    </div>
    <div class="gost group">
        <h2>{{gost.ime}}</h2>
        <p class="small">Biografija</p>
        <p class="desc">{{gost.bio}}</p>
        <p class="small" ng-if="gost.links.length">Poveznice</p>
        <a href="http://{{link}}" ng-repeat="link in gost.links" target="_blank">{{link}}</a>
    </div>
    <div class="pred">
        <p class="small">{{gost.predavanje.type}}</p>
        <h2>{{gost.predavanje.naslov}}</h2>
        <p class="date">{{gost.predavanje.datum}}</p>
        <p>{{gost.predavanje.opis}}</p>
    </div>
</div>