<div class="lokacija">
    <div class="mapa" map></div>
    <div class="lokacije group">
        <ul class="group">
            <a ng-click="marker(0)"><li>
                <p>Predavaona</p>
                <h2>Palača herzer</h2>
                <h3>Franjevački trg 6, Varaždin</h3>
            </li></a>
            <a ng-click="marker(1)"><li>
                <p>Smještaj</p>
                <h2>Hotel Varaždin</h2>
                <h3>Franjevački trg 6, Varaždin</h3>
            </li></a>
            <a ng-click="marker(2)"><li>
                <p>Party kutak</p>
                <h2>Rogoz klub</h2>
                <h3>Franjevački trg 6, Varaždin</h3>
            </li></a>
            <a ng-click="marker(3)"><li>
                <p>Party kutak</p>
                <h2>Stari grad - tvrđava</h2>
                <h3>Franjevački trg 6, Varaždin</h3>
            </li></a>
        </ul>
    </div>
</div>